body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    
    font-size: 15px;
    line-height: 1.6;
    color: #333;
}

*, *:after, *:before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

hr {
    
}

/* Container */
.container {
    width: 100%;
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
}

/* Inro */
.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
    /* background: url("../images/e_union_flag.bmp") center no-repeat; */
    background-color: #1E2051;
    -webkit-background-size: cover;
    background-size: cover; 
    position: relative; 

    min-height: 470px;
}

.intro_inner {
    width: 100%;
    max-width: 880px;
    margin: 0 auto;
    text-align: center;
    
}

.sub_title {
    color: #fff;
    margin: 0;
    margin-bottom: 35px;
    font-size: 28px;
    font-weight: 700;
    text-transform: uppercase;  
}

.intro_title {
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1;
}

.intro_title:after {
   content: "";
   display: block;
   width: 60px;
   height: 3px;
   background-color: #fff; 
   margin: 60px auto 50px;
}

/* Header */
.header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    padding: 30px;
}

.header.fixed {
    
    background-color: #1E2051;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 2);

    
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    transform: translate3d(0, 0, 0);
}

.header.active {
    background-color: #313582;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_logo {
    font-size: 30px;
    font-weight: 700;
    color: #fff;
}

.nav {
    text-transform: uppercase;
    font-size: 14px;
}

.nav_link {
    display: inline-block;
    vertical-align: top;
    margin: 0 15px;
    position: relative;

    color: gray;
    text-decoration: none;

    transition: color .1s linear;
     
}

.nav_link:after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    opacity: 0;

    background-color: #fff;

    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;

    transition: opacity .1s linear;
}

.nav_link:hover {
    color: #fff;

}

.nav_link:hover:after,
.nav_link.active:after {
    opacity: 1;
}

.nav_link.active {
    color: white;
}

/*Nav toggle*/
.nav-toggle {
    width: 30px;
    padding: 10px 0;
    display: none;

    position: absolute;
    top: 24px;
    right: 30px;
    z-index: 1;

    border: 0;
    background: none;
    cursor: pointer;
}

.nav_toggle_item {
    width: 100%;
    height: 3px;
    display: block;

    background-color: #fff;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;

    transition: background .2s linear;
}

.nav-toggle:focus {
    outline: none;
}

.nav_toggle_item:before,
.nav_toggle_item:after {
    content: "";
    width: 100%;
    height: 3px;

    display: block;
    position: absolute;
    left: 0;
    z-index: 1;

    background-color: #fff;

    transition: transform .2s linear;
}

.nav-toggle.active .nav_toggle_item {
    background: none;
}

.nav-toggle.active .nav_toggle_item::before {
    transform-origin: left top;
    transform: rotate(45deg) translateX(-3px);
}

.nav-toggle.active .nav_toggle_item::after {
    transform-origin: left bottom;
    transform: rotate(-45deg) translateX(-3px);
}

.nav_toggle_item:before {
    top: -8px;
}

.nav_toggle_item:after {
    bottom: -8px;
}

/* Button */
.btn {
    display: inline-block;
    vertical-align: top;
    padding: 6.5px 17px;
    
    border: 3px solid #fff;
    
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;

    transition: background .1s linear color .1s linear;
}

.btn:hover {
    background-color: #fff;
    color: gray;
}

/* Slider */
.slider {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.slider_inner {
    display: flex;
    justify-content: space-between;
}

.slider_item {
    width: 23%;

    border-top: 3px solid white;
    position: relative;

    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    padding: 15px 0;

    opacity: .7;
}

.slider_item.active {
    opacity: 1;
}

.slider_item.active:before {
    content: "";
    display: block;
    width: 70px;
    height: 3px;

    background-color: #f38181;

    position: absolute;
    top: -3px;
    left: 0;
    z-index: 1;
}

.slider_num {
    font-size: 24px;
    font-weight: 900;   
}

/* Section */
.section {
    padding: 80px 0;
}

.section_header {
    width: 100%;
    max-width: 950px;
    margin: 0 auto 40px;

    text-align: center;
}

.section_map {
    background: #e6e6e6 url("../images/world.png") center no-repeat;
}

.section_subtitle {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 24px;
    color: gray;
}

.section_title {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: #333;
    text-transform: uppercase;
}

.section_title:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    margin: 20px auto 30px;

    background-color: #1E2051;
}

.section_text {
    color: #999;
    font-size: 15px;
}

/* Cards */
.card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 40px;
}

.card_item {
    width: 32%;
    position: relative;
    background-color: #1E2051;
       
}

.card_item:hover .card_img {
    transform: translate3d(-10px, -10px, 0);
}

.card_item:hover .card_img img {
    opacity: .1;
    cursor: pointer;
}

.card_item:hover .card_text {
    opacity: 1;
}

.card_img {
    /* background-image: linear-gradient(to bottom, #f38181, #fce38a); */
    background-image: linear-gradient(to bottom, #332e2e, #A9A9A9);
    transition: transform .2s linear;
}

.card_img img {
    display: block;
    width: 100%;
    transition: opacity .1s linear;  
}

.card_text {
    width: 100%;

    font-size: 18px;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    opacity: 0;

    position: absolute;
    z-index: 2;
    top: 50%;
    left: 0;
    transform: translate3d(0, -50%, 0);

    transition: opacity .2s linear;
}

/* Statistics */
.statistics {
    background-color: #1E2051;
}

.stat {
    display: flex;
    flex-wrap: wrap;
}

.stat_item {
    flex: 1 1 0;
    border-left: 1px solid white;
    color: white;
    text-align: center;
    padding: 70px 25px;
}

.stat_item:last-child {
    border-right: 1px solid white;
}

.stat_count {
    font-size: 72px;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 10px;
}

.stat_text {
   font-size: 14px; 
   text-transform: uppercase; 
}

/* Services */

.services {
    display: flex;
    flex-wrap: wrap;
    padding: 30px 0;
}

.services_item {
    width: 33.33%;
    position: relative;

    margin-bottom: 30px;
    padding: 0 20px 20px 70px;
}

.services_item--border {
    border-bottom: 2px solid red;
}

.services_icon {
    width: 56px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}

.services_title {
    font-size: 20px;
    font-weight: 700;
    color: #1E2051;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.services_text {
    font-size: 15px;
}

/* Social Media*/
.social_item {
    text-decoration: none;
}

.social_item img{
    width: 40px;
    margin: 5px;
}

/* Map */
.map {
    text-align: center;
}

.map_title {
    font-size: 18px;
    color: #1E2051;
    font-weight: 700;
    text-transform: uppercase;
}

.map_title img{
    width: 32px;
}

.map_title a {
    text-decoration: none;
    color: inherit;
}

.map_title a:hover {
    text-decoration: underline;
}

.map_title a:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    margin: 20px auto 30px;

    background-color: #1E2051;
}

/* Footer */

.footer {
    padding-top: 50px;

    background-color: #1E2051;
}

.footer_col_left {
    width: 40%;
}

.footer_col_center {
    width: 25%;
}

.footer_col_right {
    width: 25%;
}

.footer_inner {
    padding-bottom: 55px;
    display: flex;
    justify-content: space-between;
}

.footer_logo {
    color: #fff;
    font-size: 24px;
    font-weight: 700;

    margin-bottom: 30px;
}

.footer_text {
    font-size: 15px;
    color: #fff;

    margin-bottom: 30px;
}

.footer_social_header {
    font-size: 18px;
    color: white;
    
    border-bottom: 2px solid white;
    padding-bottom: 15px;
}

.footer_social_header b {
    font-size: 23px;
}

.footer_social_content {
    color: #fff;
    font-size: 17px;
    font-weight: 700;
    padding-top: 15px;
    margin-bottom: 25px;
}

.footer_social_content img{
    width: 21px;
}

.footer_social_content a{
    text-decoration: none;
    padding: 0 5px;
}

/* Subscribe */
.subscribe {
    display: flex;
    widows: 100%;
    max-width: 380px;    
}

.sub_input {
    background-color: #fff;
    border: 1px solid #e7e7e7;
    font-size: 15px;
    font-style: italic;
    color: black;
    font-weight: 300;
    padding: 6px 3px;
    font-family: 'Open Sans', sans-serif;
}

.sub_input::placeholder {
    color: black;
}

.sub_input:focus {
    border-color: red;
}

.sub_button {
    height: 36px;
    border: 0;
    background-color: red;
    cursor: pointer;

    color: white;
    font-weight: 300;
    padding: 0 13px;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
}

.sub_button:hover {
    background-color: #1E2051;
    border: 1px solid white;
}

/* Links footer*/
.links_col {
    color: #fff;
}

.header_links,  .header_address{
    padding-bottom: 30px;
    font-size: 25px;
    font-weight: 700;
}

.links_col a {
    text-decoration: none;
    color: #fff !important;
    font-size: 20px;

}

.address_text {
    font-size: 20px;
}

.links_col a:hover {
    text-decoration: underline;
} 

/* Address*/
.address_col {
    color: white;
}

@media (max-width: 1230px) {
    /* Intro */
    .intro_title {
        font-size: 18px;
    }

    .sub_title {
        font-size: 22px;
    }
}

@media (max-width: 915px) {
    /* Intro */
    .intro_title {
        font-size: 16px;
    }

    .sub_title {
        font-size: 20px;
    }

    /* Statistics*/
    .stat {
        justify-content: center;
    }

    .stat_item {
        flex: none;
        width: 33.333%;

        border: 0;
        padding: 50px 18px;
    }

    .stat_item:last-child {
        border-right: 0;
    }

    /* Services */
    .services_item {
        width: 50%;
        position: relative;
    
        margin-bottom: 30px;
        padding: 0 20px 20px 70px;
    }

    .services_item--border {
        border-bottom: 0;
    }
}

@media (max-width: 640px) {
    /* Main Text*/
    .intro_title {
        font-size: 14px;
    }

    .sub_title {
        font-size: 18px;
    }

    /* Header */
    .header {
        padding: 10px 0;
    }

    .header_logo {
        font-size: 20px;
    }

    /* Nav */
    .nav {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;

        background-color: #1E2051;
    }

    .nav.active {
        display: block;
    }

    .nav_link {
        display: block;
        margin: 0;
        padding: 8px 10px;

    }

    .nav-toggle {
        top: 18px;
        display: block;
    }



    /* Slider */
    .slider_text {
        display: none;
    }

    .slider_item.active::before {
        width: 50px;
    }

    /*Section*/
    .section {
        padding: 40px 0;
    }

    .section_title {
        font-size: 24px;
    }

    .section_title::after {
        margin: 10px auto 15px;
    }

    .section_subtitle {
        font-size: 19px;
    }
    
    /* Card */
    .card_item {
        width: 100%;
        margin: 10px 0 ;
    }

    .card_text {
        font-size: 28px;
    }

    /* Statistics*/
    .stat_item {
        width: 100%;

        border-bottom: 1px solid #fff;
    }

    .stat_item:last-child {
        border-bottom: 0;
    }

    .stat_text {
        font-size: 30px;
    }

    .stat_count {
        font-size: 120px;
    }

    /* Services */
    .services {
        justify-content: center;
    }

    .services_item {
        width: 100%;
        max-width: 400px;
    }

}